@model DRS.ExpenseManagementSystem.UI.Models.ProjectViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="row"></div>
<div class="col-md-6"></div>

<body>
    <div class="row" style="padding-left:100px;">
        <h3 style="color:#000099"> <u><b>Create New Project </b></u>   </h3>
        <br />
            <div class="col-md-12">
                <form asp-route="/Project/CreateProject">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                     <div style="padding-top:25px;">
               
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                  <b>  <label asp-for="EmpId" class="control-label"></label><span style="color:red;">*</span></b>
                                <input asp-for="EmpId" class="form-control" required min="1" />
                                    <span asp-validation-for="EmpId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                    <div class="form-group">
                                       <b> <label asp-for="StartDate" class="control-label"></label><span style="color:red;">*</span></b>
                                        <input asp-for="StartDate" class="form-control" required />
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                            </div>

                             <div class="col-md-4">
                                <div class="form-group">
                                    <b> <label asp-for="EndDate" class="control-label"></label><span style="color:red;">*</span></b>
                                    <input asp-for="EndDate" class="form-control" required />
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>
                             </div>
                        </div>


                        <div class="row" style="padding-top:5px;">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <b>  <label asp-for="Client" class="control-label"></label><span style="color:red;">*</span></b>
                                    <input asp-for="Client" class="form-control" required />
                                    <span asp-validation-for="Client" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top:5px;">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <b>  <label asp-for="Title" class="control-label"></label><span style="color:red;">*</span></b>
                                    <input asp-for="Title" class="form-control" required />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                         <div class="row" style="padding-top:5px;">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <b>  <label asp-for="Description" class="control-label"></label><span style="color:red;">*</span></b>
                                    <input asp-for="Description" class="form-control" required />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                   
                    <br />

                <div class="form-group" style="padding-left:675px;">
                        @*<input type="submit" value="Create" class="btn btn-primary" />*@
                        <a asp-action="Index" class="btn  btn btn-secondary">Back to List</a>
                        <input type="submit" value="Save" class="btn btn-success" />

                    </div>
                </form>
            </div>
        

      @*  <div>
            <a asp-action="Index">Back to List</a>
        </div>*@
    </div>

    

</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
