@model DRS.ExpenseManagementSystem.UI.Models.Project
@{
    ViewData["Title"] = "Create";
}

<body>
    <div style="padding-left:240px;">
        <h5 style="color:#000099"> <u><b>Add Project </b></u>   </h5>
        <br />
    <div class="row">
            <div class="col-md-12" style="padding-top:10px;">
            <form asp-route="/Project/CreateProject">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               
                <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="EmpId" class="form-label input-lable"><b>Employee Code</b><span style="color:red;">*</span></label>
                                <select asp-for="EmpId" asp-items="ViewBag.userList" class="form-control Selectinput" id="Users"  required>
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <b>    <label asp-for="StartDate" class="control-label"> Project Start Date</label><span style="color:red;">*</span></b>
                                <input asp-for="StartDate" class="form-control" required type="date"   />
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3" style="padding-left:10px;">
                            <div class="form-group">
                                <b>     <label asp-for="EndDate" class="control-label">Project End Date</label> <span style="color:red;">*</span></b>
                                <input asp-for="EndDate" class="form-control" required type="date"/>
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                        </div>
                </div>

                  
                 
                <div class="row" style="padding-top:10px;">
                        <div class="col-md-10">
                            <div class="form-group">
                                <b>   <label asp-for="Client" class="control-label">Client Name</label> <span style="color:red;">*</span></b>
                                <input asp-for="Client" class="form-control" required type="text" minlength="5" maxlength="50" placeholder="Type Client Information here" />
                                <span asp-validation-for="Client" class="text-danger"></span>
                            </div>
                        </div>
                </div>

                    <div class="row" style="padding-top:10px;">
                        <div class="col-md-10">
                            <div class="form-group">
                                <b>    <label asp-for="Title" class="control-label">Project Title</label><span style="color:red;">*</span></b>
                                <input asp-for="Title" class="form-control" required type="text" minlength="5" maxlength="50" placeholder="Type Project Title here" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                <div class="form-group" style="padding-top:10px;">
                        <div class="col-md-10">
                    <b>    <label asp-for="Description" class="control-label">Project Description</label></b>
                            <textarea asp-for="Description" class="form-control" rows="2" cols="40"  placeholder="Type Project Description here(Optional)"> </textarea>
                        </div>
                </div>
               
               
               
                <br />
                <div class="form-group" style="padding-left:600px;">
                   
                        <a asp-action="Index" class="btn  btn btn-secondary">Back to List</a>
                        <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
                <p> <i style="color:red">Note: </i>  Employee Code refers to the Manager or Team Lead of The Project. </p>
        </div>
    </div>
   </div>
   
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
