<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DRS.ExpenseManagementSystem.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DRS.ExpenseManagementSystem.UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
   



</head>
<body>
   @* <partial name="_SideBar" />*@
    <header style="overflow:hidden;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="overflow:hidden;">
            <div class="container-fluid" style="overflow:hidden;">
                <h5 style="color:#000066"> <b>Expense Management System </b> </h5>
                <div>
                    <p style="color:#000066;padding-right:25px;">  @TempData["LoggedFirstName"] </p>
                    @*<p style="color:#000066;">  @TempData["LoggedDesignation"] </p>*@
                </div>
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               @* <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ExpenseClaim" asp-action="Index">Expense</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="IndexProject">Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="FinanceManager" asp-action="Index">FExpense</a>
                        </li>
                    </ul>
                </div>*@
            </div>
        </nav>
    </header>
   
    <div class="layout">
        <div class="sidenav">
            @{
                var User=@TempData["Role"];
                TempData.Keep();
            }
           
            @if (User.Equals("4"))
            {
                <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
               @* <button class="dropdown-btn">
                    Claims
                    <i class="fa fa-caret-down"></i>
                </button>*@
                @*<div class="dropdown-container">
                    <a asp-area="" asp-controller="ExpenseClaim" asp-action="Create">New Claim</a>
                    <a asp-area="" asp-controller="ExpenseClaim" asp-action="Index">Claim List</a>
                    <a asp-area="" asp-controller="ExpenseClaim" asp-action="IndexApproved">Approved Claims </a>
                    <a asp-area="" asp-controller="ExpenseClaim" asp-action="IndexRejected">Rejected Claims </a>
                </div>
*@

               @* <button class="dropdown-btn">
                    Manager
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-area="" asp-controller="Manager" asp-action="Index" asp-route-id="2">Manager Approvals</a>
                </div>
                <button class="dropdown-btn">
                    Finance  Manager
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-area="" asp-controller="FinanceManager" asp-action="Index" asp-route-id="2">Finance Manager Approvals</a>
                </div>*@


                <button class="dropdown-btn">
                    Super Admin
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-area="" asp-controller="Employee" asp-action="Index">Employee List</a>
                    <a asp-area="" asp-controller="User" asp-action="Index">User List</a>
                    <a asp-area="" asp-controller="Department" asp-action="Index">Department List</a>
                    <a asp-area="" asp-controller="Project" asp-action="Index">Project List</a>
                    <a asp-area="" asp-controller="ClaimStatus" asp-action="Index">Claim Status List</a>
                    <a asp-area="" asp-controller="ExpenseCategory" asp-action="Index">Expense Category List</a>
                </div>
                <a asp-area="" asp-controller="Login" asp-action="Logout"> Logout </a>
            }
            else if (User.Equals("3"))
            {
                <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
                <button class="dropdown-btn">
                    Claims
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-area="" asp-controller="ExpenseClaim" asp-action="Create">New Claim</a>
                    <a asp-area="" asp-controller="ExpenseClaim" asp-action="Index">Claim List</a>
                    <a asp-area="" asp-controller="ExpenseClaim" asp-action="IndexApproved">Approved Claims </a>
                    <a asp-area="" asp-controller="ExpenseClaim" asp-action="IndexRejected">Rejected Claims </a>
                </div>
                <button class="dropdown-btn">
                    Finance  Manager
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-area="" asp-controller="FinanceManager" asp-action="Index" >Finance Manager Approvals</a>
                    <a asp-area="" asp-controller="FinanceManager" asp-action="IndexApprovedByFManager">Approved Claims</a>
                    <a asp-area="" asp-controller="FinanceManager" asp-action="IndexPApprovedByFManager">Partial Approved Claims</a>
                    <a asp-area="" asp-controller="FinanceManager" asp-action="IndexRejectedByFManager">Rejected Claims</a>
                    <a asp-area="" asp-controller="FinanceManager" asp-action="SelfApprovedByFManager">Self Approved Claims</a>
                </div>
                <a asp-area="" asp-controller="Login" asp-action="Logout"> Logout </a>
            }
            else if (User.Equals("2"))
            {
                <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
                <button class="dropdown-btn">
                    Claims
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-area="" asp-controller="ExpenseClaim" asp-action="Create">New Claim</a>
                    <a asp-area="" asp-controller="ExpenseClaim" asp-action="Index">Claim List</a>
                    <a asp-area="" asp-controller="ExpenseClaim" asp-action="IndexApproved">Approved Claims </a>
                    <a asp-area="" asp-controller="ExpenseClaim" asp-action="IndexRejected">Rejected Claims </a>
                </div>
                <button class="dropdown-btn">
                    Manager
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-area="" asp-controller="Manager" asp-action="Index">Manager Approvals</a>
                    <a asp-area="" asp-controller="Manager" asp-action="IndexApprovedByManager">Approved Claims </a>
                    <a asp-area="" asp-controller="Manager" asp-action="IndexRejectedByManager">Rejected Claims </a>
                </div>
                <a asp-area="" asp-controller="Login" asp-action="Logout"> Logout </a>
            }
            else
            {
            <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
            <button class="dropdown-btn">
                Claims
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a asp-area="" asp-controller="ExpenseClaim" asp-action="Create">New Claim</a>
                <a asp-area="" asp-controller="ExpenseClaim" asp-action="Index">Claim List</a>
                    <a asp-area="" asp-controller="ExpenseClaim" asp-action="IndexApproved">Approved Claims </a>
                    <a asp-area="" asp-controller="ExpenseClaim" asp-action="IndexRejected">Rejected Claims </a>
            </div>
            <a asp-area="" asp-controller="Login" asp-action="Logout"> Logout </a>
            }
           
        </div>
    </div>
        
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DRS.ExpenseManagementSystem.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/js/customjs.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

        @* Side Navigation bar with Sub menus*@
    <script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
    </script>

    @*To store role value*@
    <script>
   

    window.onload = function () {
        localStorage.setItem("role", $('#role').val());
    }
    var role = localStorage.getItem('role');

    }
    </script>