<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>



<div class="area"></div>
<nav class="main-menu">
    <ul>
        <li>
            <a href="{% url " Home " %}">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Home
                </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-file-text-o fa-2x"></i>
                <span class="nav-text">Expenses</span>
            </a>
            <ul>
                <li><a href="#">User</a></li>
                <li><a href="#">Manager</a></li>
                <li><a href="#">Finance Manager</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                    Admin
                </span>
            </a>
        </li>
        <li>
            @*<a href="#">
                <i class="fa fa-folder fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>*@
        @*<li>
            <a href="#">
                <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
                <span class="nav-text">
                    Configurations
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-life-ring fa-2x"></i>
                <span class="nav-text">
                    Aide et Support
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">
                    Documentation
                </span>
            </a>
        </li>
    </ul>*@
    <ul class="logout">
        <li>
            <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>
