<!DOCTYPE html>
<html>

        <head>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        </head>

  <body>
    <div class="area">
        <nav class="main-menu">
            <ul>
                <li>
                    <a  asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa fa-home "></i>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-file-text" aria-hidden="true"></i></i>
                        <span class="nav-text">Expenses</span>
                    </a>
                    <ul>
                        <li><a asp-area="" asp-controller="ExpenseClaim" asp-action="Create">New Claim</a></li>
                        <li><a asp-area="" asp-controller="ExpenseClaim" asp-action="Index">Claim List</a></li>
                        
                    </ul>
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-file-text" aria-hidden="true"></i></i>
                        <span class="nav-text">Admin</span>
                    </a>
                    <ul>
                        <li><a asp-area="" asp-controller="Manager" asp-action="Index">Manager Approvals</a></li>
                        <li><a asp-area="" asp-controller="FinanceManager" asp-action="Index">Finance Manager Approvals</a></li>

                    </ul>
                </li>
                @*<li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-file-text" aria-hidden="true"></i></i>
                        <span class="nav-text">Users</span>
                    </a>
                    <ul>
                        <li><a asp-area="" asp-controller="User" asp-action="Create">Create New User</a></li>
                        <li><a asp-area="" asp-controller="User" asp-action="Index">User List</a></li>

                    </ul>
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-file-text" aria-hidden="true"></i></i>
                        <span class="nav-text">Project</span>
                    </a>
                    <ul>
                        <li><a asp-area="" asp-controller="User" asp-action="CreateProject">Create New Project</a></li>
                        <li><a asp-area="" asp-controller="User" asp-action="IndexProject">Project List</a></li>

                    </ul>
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-file-text" aria-hidden="true"></i></i>
                        <span class="nav-text">Department</span>
                    </a>
                    <ul>
                        <li><a asp-area="" asp-controller="User" asp-action="CreateDepartment">Create New Department</a></li>
                        <li><a asp-area="" asp-controller="User" asp-action="IndexDepartment">Department List</a></li>

                    </ul>
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-file-text" aria-hidden="true"></i></i>
                        <span class="nav-text">Employee</span>
                    </a>
                    <ul>
                        <li><a asp-area="" asp-controller="User" asp-action="CreateEmployee">Create New Employee</a></li>
                        <li><a asp-area="" asp-controller="User" asp-action="IndexEmployee">Employee List</a></li>

                    </ul>
                </li>*@
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-file-text" aria-hidden="true"></i></i>
                        <span class="nav-text">Super Admin</span>
                    </a>
                    <ul>
                        <li><a asp-area="" asp-controller="User" asp-action="IndexEmployee">Employee List</a></li>
                        <li><a asp-area="" asp-controller="User" asp-action="Index">User List</a></li>
                        <li><a asp-area="" asp-controller="User" asp-action="IndexDepartment">Department List</a></li>
                        <li><a asp-area="" asp-controller="User" asp-action="IndexProject">Project List</a></li>

                    </ul>
                </li>
                <li>
                    @*<a href="#">
                    <i class="fa fa-folder fa-2x"></i>
                    <span class="nav-text">
                    Logout
                    </span>
                    </a>
                    </li>*@
                    @* <li>
                    <a href="#">
                    <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
                    <span class="nav-text">
                    Configurations
                    </span>
                    </a>
                    </li>
                    <li>
                    <a href="#">
                    <i class="fa fa-life-ring fa-2x"></i>
                    <span class="nav-text">
                    Aide et Support
                    </span>
                    </a>
                    </li>
                    <li>
                    <a href="#">
                    <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">
                    Documentation
                    </span>
                    </a>
                    </li>*@
            </ul>
            <ul class="logout">
                <li>
                    <a asp-area="" asp-controller="Login" asp-action="Logout">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
  </body>

       
</html>