@model DRS.ExpenseManagementSystem.UI.Models.ExpenseCategory
@{
    ViewData["Title"] = "Create";
}



<body style="overflow:hidden;background-color:#e6e6ff">
    
    <div style="padding-left:250px;padding-bottom:80px;">
        <h4 style="color:#000066">  <u> <b> Create New Expense Category </b> </u></h4>
        <br />
        <div class="row">
            <div class="col-md-10">
                <form asp-route="/ExpenseCategory/CreateExpenseCategory">
                   @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <div class="form-group">
                      <b>  <label asp-for="Name" class="control-label"></label><span style="color:red;">*</span></b>
                        <input asp-for="Name" class="form-control" required type="text" minlength="5" maxlength="100" placeholder="Type Expenses Category here" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group" style="padding-left:545px;">
                        <a asp-action="Index" class="btn  btn btn-secondary">Back to List</a>
                        <input type="submit" value="Save" class="btn btn-success" />

                    </div>
                </form>
            </div>
        </div>

    </div>

   
    
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
