@model DRS.ExpenseManagementSystem.UI.Models.ExpenseCategoryViewModel

@{
    ViewData["Title"] = "Details";
}

<body style="overflow:hidden;background-color:#e6e6ff;">

    <div style="padding-left:250px;padding-bottom:80px;">
        <h4 style="color:#000066"> <u> <b>Expense Category Details </b></u></h4>
        <br />
        <dl class="row">


         @*   <dt class="col-sm-9" style="padding-top:6px;">
                ID:  &nbsp;  @Html.DisplayFor(model => model.Id)
            </dt>
*@

            <dt class="col-sm-9" style="padding-top:6px;">
                Type of Expense Category: &nbsp; @Html.DisplayFor(model => model.Name)
            </dt>


        </dl>
        <br />
        <div style="padding-left:500px;">
            <a asp-action="Index" class="btn  btn btn-secondary">Back to List</a>
            <a asp-action="EditExpenseCategory" asp-route-id="@Model.Id" class="btn  btn btn-success">Edit Category</a>
        </div>
    </div>

</body>


