@model DRS.ExpenseManagementSystem.UI.Models.ExpenseCategoryViewModel
<head> 
@{
    ViewData["Title"] = "Edit";
}

</head>

<body style="overflow:hidden;">
    <div style="padding-left:250px;padding-bottom:80px;">
        <h5 style="color:#000099"> <u> <b> Edit Expense Category</b></u> </h5>
        <br />
        <div class="row" >
            <div class="col-md-10">
                <form asp-route="/ExpenseCategory/EditExpenseCategory/@Model.Id">
                    <div class="form-group">
                        <div class="col-md-2">
                         @*  <b> <label asp-for="Id" class="control-label">ID</label><span style="color:red;">*</span></b>*@
                            <input asp-for="Id" class="form-control" readonly type="hidden"/>
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <b>  <label asp-for="Name" class="control-label">Type of Expense Category </label><span style="color:red;">*</span></b>
                        <input asp-for="Name" class="form-control" required type="text" minlength="5" maxlength="100"  />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group" style="padding-left:250px;">


                        <a asp-action="Index" class="btn  btn btn-secondary">Back to List</a>
                        <input type="submit" value="Save" class="btn btn-success" />

                    </div>
                </form>
            </div>
        </div>
    </div>
   

</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
