@{
    ViewData["Title"] = "Home Page";
}


@if (TempData["OnLogin"]!=null)
{
    <div class="col-md-9" style="padding-left:350px;">
        <div class="alert alert-success" >
            <strong>@TempData["OnLogin"] </strong>
        </div>
    </div>
   
}


<div class="text-center" style="padding-left:160px;">
    <h6>
        Welcome to Expense Management System online application.  Here employees can make their claims, 
        get approved by their reporting authority or Manager and finally approved by Finance Manager to get amount credited.
    </h6>
   
</div>


