@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-left:150px;">
    <h6>
        Welcome to Expense Management System online application.  Here employees can make their claims, 
        get approved by their reporting authority or Manager and finally approved by Finance Manager to get amount credited.
    </h6>
   
</div>


<div style="padding-left:200px;">
    <h6>@TempData["Success"]</h6>
</div>