@model DRS.ExpenseManagementSystem.UI.Models.Employee
@{
    ViewData["Title"] = "Create";
}
<body style="overflow:auto;background-color:#e6e6ff">
    <div style="padding-left:200px;">
        <h4 style="color:#000066"> <u><b>Add New Employee Details</b></u>   </h4>
        <br />
    <div class="row">
        <div class="col-md-12">
              
            <form asp-route="/Employee/CreateEmployee">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   
                    <div class="row" >
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label input-lable"><b>Employee Code : @TempData["EmployeeCode"] </b></label>
                                
                               @* <span asp-validation-for="Email" class="text-danger"></span>*@
                               @* <select asp-for="EmpId" asp-items="ViewBag.userList" class="form-control Selectinput" id="Department" required>
                                    <option value="">-- Select --</option>
                                </select>*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <b>   <label asp-for="Email" class="control-label">Email ID</label><span style="color:red;">*</span></b>
                                    <input asp-for="Email" class="form-control" type="email"  required />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <b>  <label asp-for="PhoneNumber" class="control-label">Phone Number</label><span style="color:red;">*</span></b>
                                <input asp-for="PhoneNumber" class="form-control" type="number" pattern="[789][0-9]{9}" min="7000000000" max="9999999999"  required />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row" style="padding-top:5px;">
                        <div class="col-md-5">
                            <div class="form-group">
                                <b> <label asp-for="FirstName" class="control-label">First Name</label><span style="color:red;">*</span></b>
                                <input asp-for="FirstName" class="form-control" type="text" required />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <b>   <label asp-for="LastName" class="control-label">Last Name</label><span style="color:red;">*</span></b>
                                <input asp-for="LastName" class="form-control" type="text" required />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <b>  <label asp-for="Gender" class="control-label"></label><span style="color:red;">*</span></b>
                                <select asp-for="Gender" class="form-control" required>
                                    <option value="">-- Select --</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                  

                    <div class="row" style="padding-top:5px;">
                        <div class="col-md-3">
                            <div class="form-group">
                                <b>  <label asp-for="DateOfJoining" class="control-label">Joining Date</label><span style="color:red;">*</span></b>
                                @{
                                    DateTime maxDate = DateTime.Now;
                                    string maxDateString = maxDate.ToString("yyyy-MM-dd");
                                }
                                <input asp-for="DateOfJoining" class="form-control" type="date" max="@maxDateString" required />
                                <span asp-validation-for="DateOfJoining" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <b> <label asp-for="DeptId" class="control-label">Department</label><span style="color:red;">*</span></b>

                                <select asp-for="DeptId" asp-items="ViewBag.departmentList" class="form-control Selectinput" id="Department" required>
                                    <option value="">-- Select --</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <b>  <label asp-for="Designation" class="control-label"></label><span style="color:red;">*</span></b>
                              @*  <input asp-for="Designation" class="form-control"  required />*@

                                <select asp-for="Designation" class="form-control" required>
                                    <option value="">-- Select --</option>
                                    <option value="Associate">Associate</option>
                                    <option value="Intern">Intern</option>
                                    <option value="Junior Engineer">Junior Engineer</option>
                                    <option value="Accountant">Accountant</option>
                                    <option value="Manager">Manager</option>
                                    <option value="Finance Manager">Finance Manager</option>
                                    <option value="Super Admin">Super Admin</option>
                                    <option value="Director">Director</option>
                                </select>
                                <span asp-validation-for="Designation" class="text-danger"></span>
                            </div>
                        </div>
                       
                    </div>


                    <div class="row" style="padding-top:5px;">

                        <div class="col-md-7">
                            <div class="form-group">
                                <b>  <label asp-for="City" class="control-label"></label><span style="color:red;">*</span></b>
                                <input asp-for="City" class="form-control" type="text" required />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <b>  <label asp-for="PanNumber" class="control-label">PAN Number</label><span style="color:red;">*</span></b>
                                <input asp-for="PanNumber" class="form-control" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}"  required />
                                <span asp-validation-for="PanNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row" style="padding-top:5px;">
                        <div class="col-md-6">
                            <div class="form-group">
                                <b>  <label asp-for="BankName" class="control-label">Bank Name</label><span style="color:red;">*</span></b>
                                <input asp-for="BankName" class="form-control" type="text" required />
                                <span asp-validation-for="BankName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <b>   <label asp-for="AccountNumber" class="control-label">Account Number</label><span style="color:red;">*</span></b>
                                <input asp-for="AccountNumber" class="form-control" type="number" min="10000000" max="999999999999999" required />
                                <span asp-validation-for="AccountNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <b>  <label asp-for="Ifsc" class="control-label">IFSC Code</label><span style="color:red;">*</span></b>
                                <input asp-for="Ifsc" class="form-control" pattern="[A-Z]{4}[0]{1}[0-9]{6}" required />
                                <span asp-validation-for="Ifsc" class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>


                   @* <div class="row" style="padding-top:5px;">
                      
                    </div>
*@

                    <br />

                  

                 
               
                <div class="form-group" style="padding-left:750px;">
                    @*<input type="submit" value="Create" class="btn btn-primary" />*@

                        <a asp-action="Index" class="btn  btn btn-secondary">Back to List</a>
                        <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    </div>
</body>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
