@model DRS.ExpenseManagementSystem.UI.Models.ExpenseClaimViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Expense Claim</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinanceManagerRemarks" class="control-label"></label>
                <input asp-for="FinanceManagerRemarks" class="form-control" />
                <span asp-validation-for="FinanceManagerRemarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinanceManagerApprovedOn" class="control-label"></label>
                <input asp-for="FinanceManagerApprovedOn" class="form-control" />
                <span asp-validation-for="FinanceManagerApprovedOn" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="3">Aprove</option>
                    <option value="4">Reject</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
