@model DRS.ExpenseManagementSystem.UI.Models.Department

@{
    ViewData["Title"] = "Details";
}



<body>


<div style="padding-left:200px;">
        <h3 style="color:#000099"> <u> <b>Department Details </b></u>  </h3>
    <br />
    <dl class="row">
        <dt class="col-sm-12">
              ID  :&nbsp; @Html.DisplayFor(model => model.Id)
        </dt>
     
        <dt class="col-sm-12" style="padding-top:10px;">
               DepartmentName :&nbsp; @Html.DisplayFor(model => model.Name)
        </dt>
    </dl>
</div>
<br />
    <div style="padding-left:600px;">
        <a asp-action="Index" class="btn  btn btn-secondary">Back to List</a>
  @*  <a asp-action="Index">Back to List</a>*@
</div>

</body>
