@model DRS.ExpenseManagementSystem.UI.Models.Department

@{
    ViewData["Title"] = "Details";
}



<body style="overflow:hidden;background-color:#e6e6ff;">


<div style="padding-left:300px;">
        <h4 style="color:#000066"> <u> <b>Department Details </b></u>  </h4>
    <br />
    <dl class="row">
            @*<dt class="col-sm-12">
              ID  :&nbsp; @Html.DisplayFor(model => model.Id)
        </dt>*@
     
        <dt class="col-sm-12" style="padding-top:10px;">
               Department Name :&nbsp; @Html.DisplayFor(model => model.Name)
        </dt>
    </dl>
</div>
<br />
    <div style="padding-left:600px;">
        <a asp-action="Index" class="btn  btn btn-secondary">Back to List</a>
        <a asp-action="EditDepartment" asp-route-id="@Model.Id" class="btn  btn btn-success">Edit Department Title</a>
  @*  <a asp-action="Index">Back to List</a>*@
</div>

</body>
