@model DRS.ExpenseManagementSystem.UI.Models.UserViewModel

@{
    ViewData["Title"] = "Edit";
}

<body>
    <div style="padding-left:200px;">
        <h3 style="color:#000099"> <u><b>Edit User </b></u>   </h3>
        <br />

        <div class="row">
            <div class="col-md-12">
                <form asp-route="/User/EditUser/@Model.Id">
                    <div class="row" style="padding-top:5px;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <b>   <label asp-for="EmployeeCode" class="control-label">Employee Code</label></b>
                                <input asp-for="EmployeeCode" class="form-control" readonly />
                                <span asp-validation-for="EmployeeCode" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <b>   <label asp-for="Password" class="control-label">Password</label><span style="color:red;">*</span></b>
                                <input asp-for="Password" class="form-control" value="@Model.Password" type="password" name="password" autocomplete="current-password" required="" id="id_password" />
                                <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2" style="padding-top:5px;">
                        <div class="form-group">
                            <b>  <label asp-for="Role" class="control-label"> Role </label><span style="color:red;">*</span></b>
                            <input asp-for="Role" class="form-control" required min="1"/>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row" style="padding-top:5px;">
                        <div class="col-md-3">
                            <div class="form-group">
                                <b>  <label asp-for="IsAccountLocked" class="control-label">Account Locked Status </label><span style="color:red;">*</span></b>
                                <select asp-for="IsAccountLocked" class="form-control" required>
                                    <option value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                                <span asp-validation-for="IsAccountLocked" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3" style="padding-left:10px;">
                            <div class="form-group">
                                <b>  <label asp-for="IsActive" class="control-label"> Active Employee</label><span style="color:red;">*</span></b>
                                <select asp-for="IsActive" class="form-control" required>
                                    <option value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                                <span asp-validation-for="IsActive" class="text-danger"></span>
                            </div>
                        </div>
                    </div>





                    <div class="form-group" style="padding-top:25px;padding-left:450px;">
                        @*<input type="submit" value="Create" class="btn btn-primary" />*@

                        <a asp-action="Index" class="btn  btn btn-secondary">Back to List</a>
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>

                </form>
            </div>
        </div>

    </div>
</body>




@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#id_password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>