@model DRS.ExpenseManagementSystem.UI.Models.ExpenseClaimViewModel
@{
    ViewData["Title"] = "Create";
}

<body >
    <h4 style="padding-left:230px;"> <u><b>Create New Claim </b> </u></h4>
    <br />
    <div class="row">
        <div class="col-md-12"  style="padding-left:250px;">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               
                @*<div> 
                    <div class="col-md-4">
                        <div class="form-group">
                            <label> Employee Id</label>
                            <input asp-for="EmpId" class="form-control" required />
                            <span asp-validation-for="EmpId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Department</label>
                            <input asp-for="DeptId" class="form-control" required />
                            <span asp-validation-for="DeptId" class="text-danger"></span>
                        </div>
                    </div>
                </div>*@
               
               
                @*<div class="form-group">
                    <label>Project</label>
                    <input asp-for="ProjectId" class="form-control" />
                    <span asp-validation-for="ProjectId" class="text-danger"></span>
                </div>*@
                <div class="col-md-8">
                   <b> <label asp-for="ProjectId" class="form-label input-lable">Project</label><span style="color:red;">*</span></b>
                    <select asp-for="ProjectId" asp-items="ViewBag.projectList" class="form-control Selectinput" id="Project" required>
                        <option value="">-- Select --</option>
                    </select>
                </div>
                <br />
               @* <div class="form-group">
                    <label>Todays Date </label>
                    <input asp-for="ClaimRequestDate" class="form-control" required />
                    <span asp-validation-for="ClaimRequestDate" class="text-danger"></span>
                </div>*@
                <div>
                    <div class="row"> 
                    <div class="col-md-3">
                        <div class="form-group">
                          <b>  <label> Start Date</label><span style="color:red;">*</span></b>
                            <input asp-for="StartDate" class="form-control" required />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="form-group">
                         <b>   <label> End Date</label><span style="color:red;">*</span></b>
                            <input asp-for="EndDate" class="form-control" required />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>
                    </div>
                </div>
               
                <br />

               @* <div class="form-group">
                   <label>Total Amount</label>
                    <input asp-for="TotalAmount" class="form-control" required />
                    <span asp-validation-for="TotalAmount" class="text-danger"></span>
                </div>*@
                
                
                <div class="form-group" style="padding-left:600px;">
                    <input type="submit" value="Create" class="btn btn-success"  />
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>

  
</body>


@*@section Scripts {
    @{
        await Html.RenderPartialAsync("");
    }
}*@
