@model DRS.ExpenseManagementSystem.UI.Models.ClaimStatusViewModel

@{
    ViewData["Title"] = "Details";
}

<body style="overflow:auto;background-color:#e6e6ff;">
<div style="padding-left:300px;">
    <h4 style="color:#000066"> <b> <u>Claim Status  </u></b></h4>
    <br />
    <dl class="row">

      @*  <dt class="col-sm-8">
            ID: &nbsp; @Html.DisplayFor(model => model.Id)
        </dt>*@
       
        <dt class="col-sm-8">
            Status Name: &nbsp; @Html.DisplayFor(model => model.Name)
        </dt>
      

    </dl>
    <br />
    <div style=" padding-left:300px;">
      
        <a asp-action="Index" class="btn  btn btn-secondary">Back to List</a>
        <a asp-action="EditClaimStatus" asp-route-id="@Model.Id" class="btn  btn btn-success">Edit Claim Status</a>


    </div>
</div>
</body>
