@model IEnumerable<DRS.ExpenseManagementSystem.UI.Models.ClaimStatusViewModel>
<head>
    @{
        ViewData["Title"] = "Index";
    }

    <style>
        td {
            border: 1px solid #000033;
            text-align: left;
            padding: 2px;
            padding-left: 30px;
        }

        th {
            border: 1px solid #000033;
            text-align: center;
            padding: 2px;
            color: whitesmoke;
        }

        tr:nth-child(even) {
            background-color: #e6f2ff;
        }

        /* Set the serial number counter to 0 */
        #table {
            counter-reset: serial-number;
        }

            /* Increment the serial number counter */
            /* Display the counter */
            #table td:first-child:before {
                counter-increment: serial-number;
                content: counter(serial-number);
            }

    </style>
</head>


<body style="overflow:hidden;">
    <div style="padding-left:200px;padding-bottom:220px;">
        <h3 style="color:#000099"><u> <b>Status List </b></u></h3>

        <div style="padding-left:500px;">
            <a asp-action="CreateClaimStatus" class="btn btn-outline-success" style="background-color: #009900;color:white">Add New Status</a>

        </div>
        <br />

        <table class="table" id="table" style="font-family: arial, sans-serif;border-collapse:collapse;width:70%;padding-top:15px;font-size:17px">
            <thead>
                <tr>
                    <th style="background-color: #0000b3;">
                        Sl.No
                    </th>
                    <th style="background-color: #0000b3;">
                        ID
                    </th>
                    <th style="background-color: #0000b3;">
                       Type of Claim Status
                    </th>
                    <th style="background-color: #0000b3;">Action </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    
                    <tr>
                        <td style="padding-left:25px;" width="10%">
                            &nbsp;
                        </td>
                        <td style="padding-left:20px;">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td style="padding-left:10px;">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td style="padding-left:10px;" width="25%">
                            <a asp-action="EditClaimStatus" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a asp-action="DetailsByClaimStatusID" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>



